@model antontelle.Models.SearchResultsViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    Searchquery: @Model.Query
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
    </tr>

@foreach (var item in Model.Results) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Content
        </td>
    </tr>
}
</table>

@{
    Html.RenderPartial("Pager", Model);
}

